h1{
color: brown;
}

.container-fluid{
    display: flex;
    justify-content: end;
}

.cards{
    display: flex;
    justify-content: space-around;
}
.cards{
    display: flex;
    justify-content: center;
}
form{
    padding-left: 1%;
}